{% extends "global/base.html" %}

{% block content %}
<div class="card">
  <div class="card-header flex space-between">
    {% include "product/partials/page_header.html" %}
  </div>
  <div class="card-body">
    <form id="main-form" action="" method="post" class="form-control" autocomplete="off" {% if enctype %}enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      <div class="row">
        <div class="col-4">
          {{ form }}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}