{% extends "global/base.html" %}
{% load i18n %}

{% block content %}
<div class="card" id="card-print">
  <div class="card-header flex space-between">
    <div class="page-header">
      <i class="{{ icon }}"></i>
      <h3>{{ page_title }}</h3>
    </div>
    <div class="section-action">
      <button class="btn btn-secondary" id="btn-print">
        <i class="icon_print"></i>
      </button>
      {% if filter_form %}
      <button class="btn btn-secondary" id="btn-filter">
        <i class="icon_search"></i>
      </button>
      {% endif %}
      
      <a href="{{ redirect_for_new }}" class="btn btn-primary">
        {% translate "New" %}
      </a>
    </div>
  </div>
  <div class="card-body">
    <div style="overflow-x: auto;">
    <table class="table">
        <tr>
          {% for header in presenters.0.headers %}
            <th>{{ header }}</th>
          {% endfor %}

          {% if redirect_for_edit %}
          <th>#</th>
          {% endif %}
        </tr>

        {% for presenter in presenters %}
        <tr>
          {% for value in presenter.values %}
            <td>{{ value }}</td>
          {% endfor %}

          {% if redirect_for_edit %}
          <td>
            <div>
              <a class="btn btn-secondary" href="{{ redirect_for_edit }}{{ presenter.get_pk }}">
                <i class="icon_settings"></i>
              </a>
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>

    <div class="pagination">
      <span>
        Página {{ presenters.0.page_obj.number }} de {{ presenters.0.page_obj.paginator.num_pages }}
      </span>

      {% if presenters.0.page_obj.has_previous %}
        <a class="btn btn-primary" href="?page=1">Primeiro</a>
        <a class="btn btn-secondary" href="?page={{ presenters.0.page_obj.previous_page_number }}">Anterior</a>
      {% endif %}

      {% for num in presenters.0.page_obj.paginator.page_range %}
        {% if presenters.0.page_obj.number == num %}
          <strong class="btn btn-secondary">{{ num }}</strong>
        {% elif num > presenters.0.page_obj.number|add:'-3' and num < presenters.0.page_obj.number|add:'3' %}
          <a class="btn btn-secondary" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if presenters.0.page_obj.has_next %}
        <a class="btn btn-secondary" href="?page={{ presenters.0.page_obj.next_page_number }}">Próximo</a>
        <a class="btn btn-primary" href="?page={{ presenters.0.page_obj.paginator.num_pages }}">Ultimo</a>
      {% endif %}
    </div>
  </div>
</div>

{% if filter_form %}
<div class="modal" data-open="btn-filter" data-close="close-modal">
  <div class="modal-content">
    <button id="close-modal" class="close">&times;</button>
    <h2>{% translate "Pesquise" %}</h2>

    <form class="form-control" action="" id="form" method="get">
      {{ filter_form }}
      <div class="mt-1">
        <button type="submit" class="btn btn-primary">{% translate "Search" %}</button>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endblock content %}