{% extends "global/base.html" %}
{% load i18n %}

{% block content %}
<div class="card">
  <div class="card-header flex space-between">
    <div class="page-header">
      <i class="{{ icon }}"></i>
      <h3>{{ page_title }}</h3>
    </div>
    <div class="section-action">
      <form action="{% url "warehouse:stock_inbound_session_clean" %}" method="get">
        <button class="btn btn-secondary" type="submit">
          <i class="icon_refresh"></i>
        </button>
      </form>
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          {% translate "Release" %}
        </button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <form action="{% url "warehouse:stock_inbound_session" %}" class="form-control" id="insert_row" method="post"> 
    {% csrf_token %}
    <div class="row">
      <div class="col-4">
        {{ form_general }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            {% for field in form %}
              <th>{{ field.label }}</th>
            {% endfor %}
            <th>#</th>
          </tr>
          {% if stock_movement %}
            {% for row in stock_movement %}
              <tr>
                <td>{{ row.item.description }}</td>
                <td>{{ row.warehouse.description }}</td>
                <td>{{ row.storage_bin.description }}</td>
                <td>{{ row.quantity.display|safe }}</td>
                <td>{{ row.stock_uom.description }}</td>
                <td>{{ row.item_price }}</td>
                <td>
                  <div>
                    <a href="#" class="btn btn-error">
                      <i class="icon_remove"></i>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          <tr>
              <input type="hidden" name="date" value="{% now 'Y-m-d H:i' %}">
              <input type="hidden" name="movement_type" value="in">
              {% for field in form %}
              <td>{{ field }}</td>
              {% endfor %}
            </tr>
        </table>
        </form>
        <button id="insert_row_btn" class="btn btn-primary mt-3">
          Inserir Linha
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}